

header#top-main-header{
	/*border: 1px solid red;*/
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;

	position: sticky;
	position: -webkit-sticky; /* Safari */
	position: -moz-sticky; /* mozilla */
	position: -ms-sticky; /* Safari */
	top: 0;
	z-index: 89;
	
	background-color: #ffffff;
}

/*second part*/
div.second-part{
	border-bottom: 1px solid #dddddd;
	width: 98%;
	margin: 5px auto;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.second-part div{
	/*border: 1px solid red;*/
	width: fit-content;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.second-part div > p{
	/*border: 1px solid;*/
	display: flex;
	align-items: center;	

	padding: 0 5px;
	font-family: "raleway-regular", sans-serif;
	font-size: 14px;
}
/*
	NOTE: INSIDE OF A BUTTON CANNOT BE ANOTHER BUTTON
*/
div.second-part div button{
	box-sizing: border-box;
	width: fit-content;
	display: flex;
	align-items: center;
	position: relative;

	padding: 5px;
	margin: 3px 5px;

	border: 1px solid #dddddd;
	background-color: transparent;
	outline: none;

	font-family: "raleway-medium", sans-serif;	
	font-size: 14px;
	color: #4d4d4d;
	border-radius: 2px;
}

div.second-part div button:hover,
div.second-part div button:focus{
	box-shadow: 1px 1px 1px #f2f2f2;
}

div.second-part div button > a{
	text-decoration: none;
	color: #4d4d4d;
}

div.second-part div button > img{
	/*border: 1px solid;*/
	width: 25px;
	height: 25px;

	margin: 0 4px;

	border-radius: 50%;
	object-fit: cover;
}

/*
	NOTE: INSIDE OF A BUTTON CANNOT BE MORE THAN ONE SPAN TAG
	SPAN TAGS ARE ONLY FOR ICONS.
*/
div.second-part div button > span{
	/*border: 1px solid;*/
	display: block;
	width: 22px;
	height: 22px;
	margin: 0 4px;

	background-color: #dddddd;
	font-size: 20px;
	color: #4d4d4d;

	border-radius: 50%;
}

div.second-part div button > p{
	/*border: 1px solid;*/
	display: block;
	margin: 0 4px;
}


/*option account list*/
ul.option-account-list{
	display: none; /*this will change*/
	border: 1px solid #dddddd;
	width: 150px;

	position: absolute;
	top: 100%;
	right: -1px;

	background-color: #ffffff;
	border-radius: 2px 0 2px 2px;

	z-index: 99;
}

ul.option-account-list .header-links{
	border-top: 1px solid #dddddd;
	display: block;
	width: 100%;
	box-sizing: border-box;

	padding: 4px 0;
	padding-left: 10px;

	text-align: left;
	font-family: "raleway-medium", sans-serif;	
	font-size: 14px;
	color: #4d4d4d;

	outline: none;
}

ul.option-account-list .header-links:hover,
ul.option-account-list .header-links:focus{
	background-color: #fafafa;
	box-shadow: 0px 1px 2px #dddddd;
	font-family: "raleway-semibold", sans-serif;	
}

ul.option-account-list .header-principal-links{
	display: block;
	width: 80%;
	margin: 8px auto;

	padding: 4px;

	border: 1px solid #dddddd;
	background-color: transparent;
	outline: none;

	font-family: "raleway-medium", sans-serif;	
	font-size: 14px;
	color: #4d4d4d;
	border-radius: 2px;
}

ul.option-account-list .header-principal-links:hover,
ul.option-account-list .header-principal-links:focus{
	background-color: #0099cc;
	border-color: #0099cc;
	color: #ffffff;
	font-family: "raleway-semibold", sans-serif;	
}

button#btn-header-login:hover ul.option-account-list,
button#btn-header-login:focus ul.option-account-list{
	display: block;
}

