
header#main-header{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	width: 100%;
	box-sizing: border-box;

	position: relative;
	background-color: #ffffff;
	z-index: 50;
}

div.top-part{
	border-bottom: 1px solid #dddddd;
	width: 98%;
	margin: 5px auto;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.top-part div{
	width: fit-content;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.top-part div > p{
	display: flex;
	align-items: center;	

	padding: 0 5px;
	font-family: "raleway-regular", sans-serif;
	font-size: 14px;
}

.option-account-list{
	display: none; /*this will change*/
	border: 1px solid #dddddd;
	width: 150px;

	position: absolute;
	top: 100%;
	right: -1px;

	background-color: #ffffff;
	border-radius: 2px 0 2px 2px;
	z-index: 99;
}

.option-account-list .header-links{
	border-top: 1px solid #dddddd;
	display: block;
	width: 100%;
	box-sizing: border-box;

	padding: 4px 0;
	padding-left: 10px;

	text-align: left;
	font-family: "raleway-medium", sans-serif;	
	font-size: 14px;
	color: #4d4d4d;
	outline: none;
}

.option-account-list .header-links:hover,
.option-account-list .header-links:focus{
	background-color: #fafafa;
	box-shadow: 0px 1px 2px #dddddd;
	font-family: "raleway-semibold", sans-serif;	
}

.option-account-list .header-principal-links{
	display: block;
	width: 80%;
	margin: 8px auto;

	padding: 4px;

	border: 1px solid #dddddd;
	background-color: transparent;
	outline: none;

	font-family: "raleway-medium", sans-serif;	
	font-size: 14px;
	color: #4d4d4d;
	border-radius: 2px;
}

.option-account-list .header-principal-links:hover,
.option-account-list .header-principal-links:focus{
	background-color: #0099cc;
	border-color: #0099cc;
	color: #ffffff;
	font-family: "raleway-semibold", sans-serif;	
}

#btn-header-login:hover ul.option-account-list,
#btn-header-login:focus ul.option-account-list{
	display: block;
}

#btn-header-signup{
	padding: 8px 6px;
}
