
div#order-offline-banner{
	/*border: 1px solid;*/
	width: 95%; 
	margin: 30px auto;
	box-sizing: border-box;
	padding: 40px 0;

	display: flex;
	align-items: center;
	justify-content: space-around;

	background: linear-gradient(to bottom, #0099cc 0%, #00bfff 100%);
	border-radius: 25px;
	
	position: relative;
	z-index: 0;

}


div#order-offline-banner h3{
	/*border: 1px solid;*/
	width: 50%;

	text-align: justify;
	line-height: 40px;
	font-style: italic;
	font-family: "raleway-semibold";
	font-size: 28px;
	color: #ffffff;	
	z-index: 0;
}

div#order-offline-banner figure{
	/*border: 1px solid;*/
	width: 30%;
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: space-around;

	background-color: #ffffff;
	border-radius: 50%;

}

div#order-offline-banner figure img{
	width: 25%;
	height: auto;
	margin: 0 10px;
}