
@media only screen and (max-width: 1024px){

	/*slide container*/
	div.slides-container{
		width: 77%;
		height: 350px;
	}

	/*slide info container*/
	div.slide-information{
		width: 70%;
		top: 60px;
	}
	div.slide-information h2{
		font-size: 22px;
		line-height: 35px;
	}
	div.slide-information a strong{
		font-size: 16px;
	}
	div.slide-information a span{
		font-size: 18px;
	}

	/*On devices with this dimension one of samples from offers container will disapear*/
	div.offer-samples-container > div.samples:nth-last-child(1){
		display: none;
	}

	/*reducing slide background image */
	div.slide-bkg-image{
		width: 340px;
		height: 340px;
	}

	/* samples */
	div.samples .headers{
		width: 130px;
		height: 90px;
	}
	div.samples div.price{
		width: 130px;
		margin: 5px auto;
	}
	div.samples div.price span.offer{
		font-size: 18px;
	}
	div.samples div.price span.retail{
		font-size: 15px;
	}

}


@media only screen and (max-width: 834px){

	/*On devices with this dimension most viewed container will disapear*/
	div.most-viewed-container{
		display: none;
	}

	/*slide container*/
	div.slides-container{
		width: 100%;
		height: 300px;
	}

	/*slide info container*/
	div.slide-information{
		width: 60%;
		top: 60px;
	}
	div.slide-information h2{
		font-size: 20px;
		line-height: 30px;
	}
	div.slide-information a strong{
		font-size: 15px;
	}
	div.slide-information a span{
		font-size: 16px;
	}

	/*On devices with this dimension one of samples from offers container will disapear*/
	/*div.offer-samples-container > div.samples:nth-last-child(1){
		display: none;
	}*/

	/*reducing slide background image */
	div.slide-bkg-image{
		width: 320px;
		height: 320px;
	}

	/* samples */
	div.samples .headers{
		width: 120px;
		height: 80px;
	}
	div.samples span.descount{
		padding: 4px 6px;
		font-size: 12px;
	}
	div.samples div.price{
		width: 120px;
		justify-content: space-around;
	}
	div.samples div.price span.offer{
		font-size: 16px;
	}
	div.samples div.price span.retail{
		font-size: 13px;
	}

	/*advertisement container*/
	div.advertisement-container div{
		width: 22%;
		margin: 10px 5px;
	}
	div.advertisement-container div span{
		font-size: 30px;
	}
	div.advertisement-container div p{
		width: 100%;
		margin-top: 5px;
		font-size: 12px;
		line-height: 18px;
	}

}

@media only screen and (max-width: 425px){

	/*slide container*/
	div.slides-container{
		width: 100%;
		height: 250px;
	}

	/*slide info container*/
	div.slide-information{
		width: 80%;
		top: 20px;
	}
	div.slide-information h2{
		font-size: 14px;
		line-height: 25px;
	}
	div.slide-information a strong{
		font-size: 13px;
	}
	div.slide-information a span{
		font-size: 14px;
	}

	/*On devices with this dimension one of samples from offers container will disapear*/
	div.offer-samples-container > div.samples:nth-last-child(2){
		display: none;
	}

	/*reducing slide background image */
	div.slide-bkg-image{
		width: 220px;
		height: 220px;

		bottom: -80px;
		right: 0px;
	}
	div.slide-bkg-image img{
		width: 90%;
		height: 90%;

		margin-left: 0px;
		margin-top: -40px;
	}

	/*samples*/
	div.samples{
		margin: 10px auto;
	}
	div.samples .headers{
		width: 90px;
		height: 70px;
	}
	div.samples span.descount{
		padding: 4px 4px;
		font-size: 10px;

		left: -5px;
		top: -5px;
	}
	div.samples div.price{
		width: 90px;
		justify-content: space-between;
	}
	div.samples div.price span.offer{
		font-size: 14px;
	}
	div.samples div.price span.retail{
		font-size: 12px;
	}

	/*advertisement container*/
	div.advertisement-container{
		display: none;
	}

}