
div#login{
	width: 100%;
	box-sizing: border-box;

	background-color: #ffffff;
	overflow: hidden;
}

form.form-login{
	width: 40%;
}

.input-box{
	width: 85%;
	padding: 5px 0;
	margin: 15px auto;
	box-sizing: border-box;
}

.inner-input-box{
	width: 100%;
	box-sizing: border-box;
	margin-top: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inner-input-box label,
.inner-input-box a{
	width: fit-content;
	font-family: "raleway-medium", sans-serif;
	font-size: 14px;
}

.remember-me{
	color: #4d4d4d;
}

.forgot-pass{
	color: #0099ff;
}

